{% extends 'layout.njk' %}

{% block head %}
    <title>Página não encontrada</title>
{% endblock %}

{% block content %}
    <main>
        <div class="about">
            <h1>
                <br>
                Desculpa, a página que você tentou acessar não foi encontrada!
            </h1>
        </div>

        <div id="footer" class="nav">
            <a href="/">Voltar a página inicial</a>
        </div>
    </main>
{% endblock %}